*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.body {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 50% 10%;
    background-image: url("/img/index\ bakgrund.jpg");
    background-size: cover;
    background-position: center;
    grid-template-areas:
    'he s1'
    'd1 d1'
    'm1 m1'
    'fo fo'
    ;
    

}

.body2 {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    'he s1'
    're re'
    'fo fo'
    ;
    

}

.body3 {
    display: grid;
    
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 50% 30% 10%;
    grid-template-areas:
    'he s1'
    'wr wr'
    'm1 m1'
    'fo fo'
    ;
    

}

.body4 {
    display: grid;
    
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:
    'he s1'
    'm1 m1'
    'bv bi'
    'fo fo'
    ;
    
}

.body5 {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    'he s1'
    'pg pg'
    'fo fo'
    ;
    

}

.register {
    grid-area: re;
}

.borsinfo {
    grid-area: bi;
}

.header {
    grid-area: he;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    grid-area: d1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.main {
    grid-area: m1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    
}

.boarder {
    background: #4CAF50;
    border: solid 100px black;
    border-width: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.varde {
    grid-area: bv;
}

.footer {
    grid-area: fo;
    background-color: #4CAF50;
}

.nav {
    grid-area: s1;
    display: flex;
    background-color: #4CAF50;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
}

.profilegroup {
    grid-area: pg;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    'pg1 pr'
    'pg2 pr2'
    ;
}

.profileimage1 {
    grid-area: pg1;
    
}

.profileimage2 {
    grid-area: pg2;
}

.profil {
    grid-area: pr;
}

.profil2 {
    grid-area: pr2;
}

.wrapper {
    grid-area: wr;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-areas: 
    '.. r1 ..'
    '.. r2 ..'
    '.. r3 ..' 
    '.. r4 ..'
    '.. r5 ..'
    '.. r6 ..'
    ;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    
}

.d1 {
    grid-area: r1;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}

.d2 {
    grid-area: r2;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    
}

.d3 {
    grid-area: r3;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    
}

.d4 {
    grid-area: r4;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    
}

.d5 {
    grid-area: r5;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    
}

.d6 {
    grid-area: r6;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    
}


.borsanalys {
    max-width: 100%;
    height: auto;
}

* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: black;
  text-decoration: none;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.menu-button{
    display: none;
    user-select: none;
}

.fade-layer {
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.visible {
    display: block;
}


@media screen and (max-width: 767px) {

    .main {
        display: none
    }

    .div1 {
        display: block;
    }


    .menu-button {
        cursor: pointer;
        display: block;
    }

    .nav {
        z-index: 10;
        left: -90vw;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #4CAF50;
        width: 50vw;
        height: 100vh;
        transition: left 0.5s;

        flex-direction: column;
    }


    .show{
        left: 0;
    }

    .body {
        display: grid;
        
        width: 100vw;
        height: 100vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 30% 50% 10%;
        background-image: url("/img/index\ bakgrund.jpg");
        background-position: center;
        grid-template-areas:
        'he he'
        'd1 d1'
        'm1 m1'
        'fo fo'
        ;
        
    }

.body2 {
    display: grid;

    width: 100vw;
    height: 130vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:
    'he he'
    'd1 d1'
    're re'
    'fo fo'
    ;
    
}

.body3 {
    display: grid;
    
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 60% 20% 10%;
    grid-template-areas:
    'he he'

    'wr wr'
    'm1 m1'
    'fo fo'
    ;
    
}


.wrapper {
    grid-area: wr;
    display: grid;
    row-gap: 5px;
    grid-template-areas: 
    'r1'
    'r2'
    'r3'
    'r4'
    'r5'
    'r6'
    ;
}



.d3 {
    grid-area: r3;
}


.body5 {
        display: grid;
    
        width: 100vw;
        height: 100vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas:
        'he he'
        'pg pg'
        'fo fo'
        ;
}

.body4 {
            
    display: grid;
    width: 100vw;
    height: 130vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 5% 45% 30% auto;
    grid-template-areas:
    'he he'
    'm1 m1'
    'bv bv'
    'bi bi'
    'fo fo'
;      
    }

    .main {
        grid-area: m1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
.borsanalys {
    max-width: 100%;
    height: auto;
}

.profilegroup {
    grid-area: pg;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    'pg1 pr'
    'pg2 pr2'
    ;
}

}