*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.body {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 50% 10%;
    grid-template-areas:
    'he s1'
    'd1 d1'
    'm1 m1'
    'fo fo'
    ;
    

}

.header {
    grid-area: he;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    grid-area: d1;
    text-align: center;

}

.main {
    grid-area: m1;
    text-align: center;
}

.footer {
    grid-area: fo;
    background-color: grey;
}

.a1 {
    grid-area: a1;
    background-color: green;

}

.a2 {
    grid-area: a2;
    background-color: green;

}

.a3 {
    grid-area: a3;
    background-color: green;
}

.a4 {
    grid-area: a4;
    background-color: green;
}

.a5 {
    grid-area: a5;
    background-color: green;
}

.nav {
    grid-area: s1;
    display: grid;


    grid-template-areas:
    'a1 a2 a3 a4 a5'
    ;
    
}

.show{
    left: 0;
}



@media screen and (min-width: 375px) and (max-width: 767px) {

    .main {
        display: none
    }

    .menu_button {
        cursor: pointer;
        display: block
    }


}

.body2 {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 50% 10%;
    grid-template-areas:
    'he s1'
    'wr wr'
    'm1 m1'
    'fo fo'
    ;

}

.wrapper {
    grid-area: wr;
    display: grid;

    grid-template-areas: 
    'r1 r2'
    'r3 r4'

    ;
}

.d1 {
    grid-area: r1;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}

.d2 {
    grid-area: r2;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;

}

.d3 {
    grid-area: r3;
}